<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HOSYU.Properties.Settings.HosyuDBConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\HosyuDB.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="HOSYU.Properties.Settings.KenkeiHosyuConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=\\AA9CA229\Share\KenkeiHosyu.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>